.content {
    padding-top: 110px;
}
.body__home {
    background-image: url("../images/home.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: calc(100vh - 110px);
}

.content__pros {
    margin-top: 30px;
    padding-bottom: 56px;
}   

.content__pros_head {
    width: 100%;
}

.content__pros_header {
    font-size: 36px;
    font-weight: 800;
    color: #18191F;
    text-align: center;
}

.header__line {
    position: absolute;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background: #000;
    transform: scaleX(0);
}

.content__pros_body {
    display: flex;
    justify-content: space-between;
    padding-top: 47px;
    gap: 65px;
}

.pros__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    padding: 47px 0;
}

.pros__item {
    width: 260px;
}
    
.pros__item_frame {
    display: flex;
    padding: 16px;
    height: 77px;
    width: 77px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
}

.pros__item_img {
    display: block;
    margin: 16px;
}

.pros___item_text {
    color: #18191F;
    font-size: 26px;
    font-weight: 600;
    margin-top: 26px;
}

.estates {
    width: 100%;
    background-color: #F5F5F5;
    padding-top: 26px;
    padding-bottom: 38px;
}

.estates__header {
    font-size: 36px;
    font-weight: 800;
    color: #18191F;
    text-align: center;
}
    
.estates__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 61px;
    flex-direction: row;
    margin-top: 50px;
}

.estates__item {
    border-radius: 26px;
    border: 1px solid #979797;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
    width: 358px;
}

.estate__image {
    height: 283px;
    background-image: url('../images/unsplash1.png') !important;
    background-size: cover;
    background-position: center
}

.estate__image2 {
    background-image: url('../images/unsplash2.png') !important;
}

.estate__image3 {
    background-image: url('../images/unsplash3.png') !important;
}

.estate__image4 {
    background-image: url('../images/unsplash4.png') !important;
}

.estate__image5 {
    background-image: url('../images/unsplash5.png') !important;
}

.estate__image6 {
    background-image: url('../images/unsplash6.png') !important;
}

.estate__details_info {
    width: 100%;
    padding: 18px 0px 18px 27px;
}

.estate__type {
    margin-top: 42px;
    font-size: 18px;
    color: #818181;
} 

.estate__price {
    font-size: 26px;
    color: #F4511E;
    font-weight: 800;
}
    
.estate__info {
    width: 100%;
    display: flex; 
    flex-direction: row;
    align-content: stretch;
    border-top: 1px solid #979797;
}

.estate__info_item {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 25px 0;
}

.estate__info_img {
    display: block;
}

.info_item2 {
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}

.estate__info_item_text {
    display: block;
    font-size: 18px;
    margin-left: 5px;
    font-weight: 600;
}

.button__explore_more {
    display: block;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 12px;
    width: 380px;
    background-color: #D9D9D9;
    margin-top: 51px;
}

.estates__item:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.estates__more {
    padding: 22px 60px;
    font-size: 20px;
    background-color: #F4511E;
    color: #fff;
    border-radius: 15px;
    border: none;
}

@media (max-width: 992px) {
    .pros__image {
        display: none;
    }
    .pros__items {
        justify-content: space-around;
        gap: 40px;
        text-align: center;
    }
    .estates__items {
        flex-direction: column;
    }
    .pros__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 260px;
    }
}